<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GestaoCompras</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GestaoCompras.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="dropdown" style="color:white">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #FFFFFF;color: #330000">
                        Fornecedor
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="color:white">
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="FornecedorJuridico" asp-action="Index">Juridico</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="FornecedorFisico" asp-action="Index">Fisico</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="text-align: center;">
        <div class="container">
            &copy; 2022 - Gestão Compras
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-mask/jquery.mask.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
